<div class="list-page">
  <section>
    <div class="custom-section">
      <h1 class="text-primary-regular text-center">Enjoy all the resources found for: <b>'{{artistName}}'</b></h1>
    </div>
  </section>

  <section>
    <div>
      <h2 class="text-primary-regular">Audio resources</h2>
      <ng-container *ngIf="isAudioResourceLoading; then spinner else audioResourceCarousel"></ng-container>
      <ng-template #audioResourceCarousel>
        <app-resource-carousel [artistResourcesByType]="artistResources.audio"></app-resource-carousel>
      </ng-template>
    </div>
  </section>

  <section>
    <div class="custom-section">
      <h2 class="text-primary-regular">Video resources</h2>
      <ng-container *ngIf="isVideoResourceLoading; then spinner else videoResourceCarousel"></ng-container>
      <ng-template #videoResourceCarousel>
        <app-resource-carousel [artistResourcesByType]="artistResources.video"></app-resource-carousel>
      </ng-template>
    </div>
  </section>
</div>

<ng-template #spinner>
  <app-spinner></app-spinner>
</ng-template>
