.item-card {
  position: relative;
  height: 370px;

  .swiper-container {
    height: 100%;
    text-align: center;
  }

  &__play-section {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 300px;

    youtube-player {
      position: absolute;
      top: 0;
    }
  }
}
