<div class="item-card">
  <ng-container
      *ngIf="artistResourcesByType?.length > 0; then resourceCarousel else noResources">
  </ng-container>
</div>

<ng-template #resourceCarousel>
  <swiper #swiperWrapper [pagination]="{dynamicBullets: true}" [slidesPerView]="1" [spaceBetween]="20" class="mySwiper"
          (reachEnd)="onLastSlide($event)" [breakpoints]="{'768': { slidesPerView: 2}, '1024': { slidesPerView: 3}}">
    <ng-template swiperSlide *ngFor="let item of artistResourcesByType">
      <ng-container *ngIf="item?.type === 'audio'; then audioResourceCards else videoResourceCards"></ng-container>
      <ng-template #audioResourceCards>
        <div class="item-card__play-section">
          <a *ngIf="!item.isPlaying && item.preview" class="btn btn-primary btn--opacity"
             (click)="playAudio(item)">Play Preview</a>
          <a *ngIf="item.isPlaying" class="btn btn-primary" (click)="stopAudio(item)">Stop
            Preview</a>
          <a class="btn btn-primary btn--opacity" [href]="item.href" target="_blank">Play on Spotify</a>
        </div>
      </ng-template>
      <ng-template #videoResourceCards>
        <div class="item-card__play-section">
          <a *ngIf="!item.isPlaying" class="btn btn-primary btn--opacity" (click)="playVideo(item)">Play
            Video</a>
          <youtube-player #youtubePlayer
              *ngIf="item.isPlaying"
              videoId="{{item.href}}"
              suggestedQuality="highres"
              (stateChange)="checkVideoStatus($event, item)"
              [height]="225"
              [width]="300">
          </youtube-player>
        </div>
      </ng-template>
      <picture>
        <img src="{{item.gallery[0].url}}" srcset="{{item.gallery[0].url}} 640w, {{item.gallery[1].url}} 300w"
             alt="{{item.name}}" width="300px">
      </picture>
      <p class="text-primary-regular mt-1">{{item.name}}</p>
    </ng-template>
  </swiper>
</ng-template>

<ng-template #noResources>
  <div>
    <h4 class="text-secondary-regular">We are sorry but we didn't find any resource. <a routerLink="/">Try
      another research.</a></h4>
  </div>
</ng-template>
