<header>
  <div class="header-logo">
    <a routerLink="/">
      <picture>
        <source srcset="assets/images/logo.webp">
        <img src="assets/images/logo.jpg" alt="logo" width="50px">
      </picture>
    </a>
  </div>
</header>