<section>
  <div class="spinner">
    <picture>
      <source srcset="assets/images/spinner.webp">
      <img src="assets/images/spinner.jpg" alt="spinner" width="150px" height="150px">
    </picture>
    <p class="text-secondary-regular mt-2">Loading...</p>
  </div>
</section>
