@font-face {
  font-family: 'icomoon';
  src: url('../assets/icons/music-engine-icons.eot?mwrbot');
  src: url('../assets/icons/music-engine-icons.eot?mwrbot#iefix') format('embedded-opentype'),
  url('../assets/icons/music-engine-icons.ttf?mwrbot') format('truetype'),
  url('../assets/icons/music-engine-icons.woff?mwrbot') format('woff'),
  url('../assets/icons/music-engine-icons.svg?mwrbot#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-decoration: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &:before {
    text-decoration: none;
  }
}

.icon-search:before {
  content: "\e986";
}