@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$font-family-roboto: 'Roboto', sans-serif;
$font-family-montserrat: 'Montserrat', sans-serif;

.text-primary-regular {
  font-family: $font-family-roboto;
  color: $text-primary;
}

.text-secondary-regular {
  font-family: $font-family-montserrat;
  color: $text-secondary;
}