<div class="home-page">
  <section>
    <div class="container home-page__main-section custom-section">
      <picture>
        <source media="(max-width: 425px)" srcset="assets/images/main.webp">
        <source media="(min-width: 426px)" srcset="assets/images/main-desk.webp">
        <img src="assets/images/main-desk.jpg" srcset="assets/images/main.jpg 425w" alt="Music Engine main image"
             class="home-page__main-section-image">
      </picture>
      <h1 class="text-primary-regular">Welcome to <b>Music Engine</b></h1>
      <h6 class="text-secondary-regular my-4">Type the name of your favourite music artist and get the coolest contents
        on the web</h6>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Artist name..." aria-label="Recipient's username"
               aria-describedby="basic-addon2" [(ngModel)]="artistQuery">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" (click)="goToArtistResourceList()">
            <span class="d-none d-lg-block">Search</span>
            <i class="icon-search d-block d-lg-none"></i>
          </button>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="home-page__top-artists custom-section">
      <h2 class="text-primary-regular">Top artists</h2>
      <h6 class="text-secondary-regular my-2">Click on a picture and enjoy the best artists ever.</h6>
      <div class="home-page__top-artists-wrapper">
        <div *ngFor="let artist of topArtistList" class="home-page__top-artists-card"
             routerLink="artist/{{artist.url}}">
          <picture>
            <source srcset="{{artist.imageUrl}}.webp">
            <img src="{{artist.imageUrl}}.jpg" alt="{{artist.name}}">
          </picture>
          <p class="text-primary-regular">{{artist.name}}</p>
        </div>
      </div>
    </div>
  </section>
</div>


