@import "../../../global/colors";

.home-page {
  text-align: center;

  &__main-section {
    max-width: 500px;

    &-image {
      width: 100%;
      padding: 1rem;
    }
  }

  &__top-artists {
    border-top: 1px dotted $border;

    &-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      @media (min-width: 1024px) {
        flex-wrap: nowrap;
      }
    }

    &-card {
      width: 100%;
      margin: 2rem 0;
      cursor: pointer;

      @media (min-width: 768px) {
        width: 50%;
      }

      @media (min-width: 1024px) {
        width: calc(25% - 1rem);
      }

      img {
        width: 100%;
        max-width: 300px;
        margin-bottom: .5rem;
      }
    }
  }
}