<div class="page-not-found">
  <section>
    <div class="container-lg custom-section">
      <h1 class="text-primary-regular">404</h1>
      <h2 class="text-primary-regular mb-5">Page not found</h2>
      <p>We know you are sad about that, but anyway you got a really cool song...</p>
      <div class="page-not-found__play-section">
        <youtube-player
            videoId="A8MO7fkZc5o"
            suggestedQuality="highres"
            [height]="225"
            [width]="300">
        </youtube-player>
      </div>
      <p>...or go to the <a routerLink="/">Home Page</a></p>
    </div>
  </section>
</div>
