.page-not-found {
  text-align: center;
  font-size: 26px;

  @media (min-width: 768px) {
    font-size: 30px;
  }

  h1 {
    font-size: 8em;
  }

  h2 {
    font-size: 3.5em;
  }

  &__play-section {
    display: flex;
    justify-content: center;
    margin: 2rem auto;
  }
}