@import '~bootstrap/scss/bootstrap';
@import '~swiper/swiper-bundle';
@import "global/colors";
@import "global/typografy";
@import "global/icons";

.custom-section {
  padding: 4rem 0;
}

.btn--opacity {
  opacity: .3;
  transition: opacity 1s;

  &:hover {
    opacity: 1;
    transition: opacity 1s;
  }
}